absl-py==0.11.0
aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.3
asgiref==3.2.7
astor==0.8.1
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.3
bs4==0.0.1
cached-property==1.5.2
catfish==1.4.10
certifi==2018.8.24
chardet==3.0.4
click==7.1.1
cloudconvert==2.0.0
crypto==1.4.1
Crypto-Py==0.0.4
cupshelpers==1.0
cycler==0.10.0
decorator==4.0.11
defusedxml==0.6.0
distlib==0.3.0
distro==1.3.0
distro-info==0.21
Django==3.0.5
docopt==0.6.2
entrypoints==0.3
enum34==1.1.10
exif==0.8.2
ExifRead==2.1.2
face-recognition-models==0.3.0
ffmpeg-python==0.2.0
ffprobe-python==1.0.3
filelock==3.0.12
future==0.18.2
gast==0.4.0
geographiclib==1.50
geopy==2.0.0
google-pasta==0.2.0
grpcio==1.33.2
gTTS==2.1.1
gTTS-token==1.1.3
h11==0.11.0
h5py==3.1.0
hashID==3.1.4
httpcore==0.12.0
httpx==0.16.0
idna==2.6
image==1.5.31
ImageHash==4.1.0
imageio==2.1.2
importlib-metadata==1.5.0
imutils==0.5.3
InstagramAPI==1.0.2
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isc==2.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.17.0
json5==0.9.3
jsonschema==3.2.0
jupyter-client==6.1.0
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lightdm-gtk-greeter-settings==1.2.2
lxml==4.5.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
MouseInfo==0.1.3
moviepy==0.2.3.2
mtcnn==0.1.0
mugshot==0.4.1
multibootusb==9.2.0
multidict==4.7.5
mysql-connector==2.2.9
Naked==0.1.31
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.2
onboard==1.4.1
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.32
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pbkdf2==1.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.1.1
playsound==1.2.2
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.13.0
protonvpn-cli==2.2.2
ptyprocess==0.6.0
PyAudio==0.2.11
PyAutoGUI==0.9.50
pycairo==1.16.2
pycryptodome==3.9.7
pycups==1.9.73
pycurl==7.43.0.2
pydub==0.23.1
pyee==7.0.1
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.6.1
PyGObject==3.30.4
PyInstaller==3.6
PyMsgBox==1.0.7
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.26
python-apt==1.8.4.1
python-dateutil==2.8.1
python-debian==0.1.35
python-ffmpeg==1.0.11
python3-xlib==0.15
pythondialog==3.5.1
PyTweening==1.0.3
pytz==2019.3
pyudev==0.21.0
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.7
QtPy==1.9.0
requests==2.11.1
requests-toolbelt==0.7.0
rfc3986==1.4.0
rpl==1.5.6
scapy==2.4.3
scikit-learn==0.23.2
scipy==1.5.2
selenium==3.141.0
selenium-wire==2.1.1
Send2Trash==1.5.0
shellescape==3.8.1
six==1.12.0
sklearn==0.0
sniffio==1.1.0
soupsieve==2.0
SpeechRecognition==3.8.1
sqlparse==0.3.1
telepot==12.7
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.11.2
traitlets==4.3.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==20.0.14
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wifi==0.3.8
wikipedia==1.4.0
wrapt==1.12.1
yarl==1.4.2
youtube-dl==2020.3.8
zipp==3.0.0
